* html {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.nav-link {
font-size: 20px;
color: darkgrey;
}

  
.nav-link-lawngreen {
color: lawngreen;
}


.btn-tickets {
background-color:
#27A746;
}

.card-cont {
font-weight: 500;
padding: 1px 8px;
border-radius: 5px;
text-decoration: none;
text-align: center;
}

.card-body {
position: relative;
top: 100%;
}


.select-op{
padding: 0.375rem 0.75rem;
background-clip: padding-box;
background: transparent;
border: none;
height: 37px;
width: 700px;
max-width: 100%; 
border: 1px solid #aaa;
border-radius: .3em; 
box-shadow: 0 1px 0 1px rgba(0,0,0,.03);

}


.btn-borrar {
background-color: rgb(151, 201, 62);
color: white;
margin-right: 10px;
padding: 10px;
width: 50%;
position: relative;
border-style: none;
}


.btn-resumen {
background-color: rgb(151, 201, 62);
color: white;
margin-left: 10px;
padding: 10px;
width: 50%;
position: relative;
border-style: none;
}


.footer {
margin-top: 19vh;
align-items: center;
padding: 2Vh 15vh;
background-color: #1D3E51;
}



.opt-footer {
font-size: 18px;
color: white;
width: 140px;
height: 80px;
word-wrap: break-word;
}
